img{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 50%;
   display: block;
   margin: 20px;
}
div{
    display: grid;
   /* display: flex; */
   align-items: center;
   justify-content: center;
   /* background-color: red; */
}
 input{
 /* margin-top: 15px; */
 border: 1px solid black;
 text-align: center;
 padding: 7px;
 border-radius: 10px;
 background-color: aqua;
}
label{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px; 
} 